<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=(localdb)\MSSQLLocalDB;Database=Relics;Trusted_Connection=True;" providerName=""/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.diagnostics>
    <sources>
      <source name="IMS" switchName="LogSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Logger" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" traceOutputOptions="DateTime"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="LogSwitch" value="Warning"/>
    </switches>
    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>
</configuration>
